mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Jenkins Pipeline, Jenkins 2.0 and Beyond

  link(rel='stylesheet', type='text/css', href='build/build.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

  body

    article

      +slide('title')
        h2.gothicfont.smallgothic Jenkins Pipeline, Jenkins 2.0 and <span class='important'>Beyond</span>
        i.fa.fa-twitter-square <span class='gothicfont' style='font-size:1em; letter-spacing: 0.05em;'>&nbsp;alexsotob &nbsp;</span>

      +slide
        div.main-wrap
          div.leftbar
            h2.gothicfont(style='font-size:2em') Alex Soto
            br
            h2.gothicfont.important(style='font-size:1em') Red Hat Engineer
            h2.gothicfont(style='font-size:1em') Open Source Advocate
            h2.gothicfont.important(style='font-size:1em') @alexsotob
            img(src='../images/public.png', style="width:40%")
          div.rightbar
            img(src='images/family.jpg', style="width:100%")
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('adarise')
        h2.biggothic.gothicfont Questions
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('mac')
        h1.small <span class='important'>Software</span> is eating the <span class='important'>world</span>
        aside(role='note') Every business is in the sw business, even landed in traditional business Uber, AirBnb, JustEat
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/cockpit.jpg')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/tesla-news.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/airport.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/casino.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('speed')
        ul.lists
          li.bigfont Faster
          li.bigfont Sooner
          li.bigfont Better
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('world')
        h2.gothicfont What is <span class='important'>Continuous Delivery</span>?
        aside(role='note') A Build tool? CI server? Automated tests, quality, deployment,
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('money')
        h2.gothicfont Deliver <span class='green'> Business Value</span> more <span class='green'>Frequently</span>
        aside(role='note') Money, fast feedback, and of course you need to automate
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/pipeline.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('orch')
        h2.gothicfont.smallgothic <span class='important'>Orchestrating</span> Stages
        h3 with Jenkins

      +slide
        img.schemash(src='images/cireport.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/jenkinseco.jpg')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars


      +slide
        h2.gothicfont.smappgothic Jenkins 1.XXX
        img(src='images/jenkins.png')
        div.footer
            i.fa.fa-twitter &nbsp;alexsotob&nbsp;
            i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemashh(src='images/freestyle.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemashh(src='images/fs-define-test.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemashh(src='images/fs-define-deploy.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemashh(src='images/fs-overview.png')
        aside(role='note') Spread everything
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemashh(src='images/fs-result-test.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('alexoh')
        h2.gothicfont.smallgothic No More <span class='important'>Jobs</span> Please
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('jenkins2')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('railyard')
        h2.gothicfont.smallgothic Jenkins <span class='important'>Pipeline-as-Code</span>
        aside(role='note') Groovy DSL
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Features of Pipeline Ecosystem

        ul.lists
          li Configuration in Source Repositories
          li Less click-and-type, more code
          li From simple to complex
          li Survives Jenkins restarts & connection losses
          li Reusable Definitions
          li Build history/trend segregated per branches
          li UI

      +slide
        img.schemash(src='images/pipelineplug.png')

      +slide
        h2.gothicfont.filegothic Jenkinsfile (1/2)
        pre.small.language-groovy
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            stage ('compile') {
              node {
                    checkout scm
                    sh "./gradlew clean compileJava"
                    stash excludes: 'build/', includes: '**', name: 'source'
              }
            }

          br
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            stage ('commitTest') {
              parallel 'unit' : {
                node {
                    unstash 'source'
                    sh "./gradlew :test"
                    stash includes: 'build/jacoco&#47;*.exec', name: 'unitCodeCoverage'
                    step([$class: 'JUnitResultArchiver', testResults: '**/build/test-results/*.xml'])
                }
              }, 'integration': {
                node {
                    unstash 'source'
                    sh "./gradlew -PhappyPath :integration-test:test"
                    junit '**/build/test-results/*.xml'
                }
              }
            }
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.filegothic jenkins/gradle.groovy
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            def assemble(String switches = null) {
                run 'assemble', switches
            }

          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            void run(String tasks, String switches = null) {
                String gradleCommand = "";
                gradleCommand += './gradlew '
                gradleCommand += tasks
                if(switches != null) {
                    gradleCommand += ' '
                    gradleCommand += switches
                }
                sh gradleCommand.toString()
            }

          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            return this;
        h2.gothicfont.filegothic Jenkinsfile (2/2)
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            def gradle = load 'jenkins/gradle.groovy'

          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            node('linux') {
                unstash 'source'
                withEnv(["SOURCE_BUILD_NUMBER=${env.BUILD_NUMBER}"]) {
                    gradle.assemble()
                }
            }

        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('whale')
        h2.gothicfont.smallgothic <span class='important'>Docker</span> Pipeline Integration

      +slide
        h2.gothicfont.filegothic Jenkinsfile
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
              docker.withRegistry('https://lordofthejars-docker-continuous_delivery.bintray.io', 'd4fc3fa9-39f7-47ea-a57c-795642f90989') {
                  git 'git@github.com:lordofthejars/busybox.git'
                  def newApp = docker.build "lordofthejars-docker-continuous_delivery.bintray.io/lordofthejars/javatest:${env.BUILD_TAG}"
                  newApp.push()
              }

          br
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
              docker.image('lordofthejars/javatest').withRun {c ->
                sh './executeTests.sh'
              }

          br
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
              docker.image('8-jdk-alpine').inside('-v ~/.gradle:/root/.gradle -u 1000:50') {
                // workspace is mounted inside image automatically
                sh './gradlew compileJava'
              }
        aside(role='note') Multiple scm
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('branch')
        h2.gothicfont.smallgothic <span class='important'>Multibranch</span> Pipeline
        aside(role='note') Jenkinsfile
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.filegothic Multibranch Pipeline job
        img.schemas(src='images/multibranch.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.filegothic Dashboard with detected Branches
        img.schemas(src='images/multibranchrun.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('dashboard')
        h2.gothicfont.smallgothic UI <span class='important'>improvements</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemas(src='images/1ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/2ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/3ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/4ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/5ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/6ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/7ui.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('direction')
        h2.gothicfont.smallgothic What is <span class='important'>Coming</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('sea')
        h2.gothicfont.smallgothic <span class='important'>Blue Ocean</span>
        h3. New UX for Jenkins
        aside(role='note') Now only works together with pipeline
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars


      +slide
        img.schemash(src='images/pipeline-dashboard.png')
        aside(role='note') Pipeline dashboard
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/pipeline-run.png')
        aside(role='note') Pipeline run
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/failing-pipeline.png')
        aside(role='note') Failing Pipeline
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('puzzle')
        h2.gothicfont.smallgothic <span class='important'>Missing</span> Pieces
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Future Changes

        ul.lists
          li Scalability
          li Configuration API
          li Storage Backend Changes

        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('gears')
        h2.gothicfont.smallgothic <span class='important'>Demo Time</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('adathink')
        h2.gothicfont.smallgothic Let's <span class='important'>wind down</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Conclusions

        ul.lists
          li Pipeline as Code for Microservices
          li Easy migration from Jenkins 1.X to 2.X
          li More changes in near future
          li Jenkins as Platform

        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('deming')
        h4 It is <span class='important'>not necessary</span> to change. <br/> <span class='important'>Survival</span> is <span class='important'>not mandatory</span>.
        h3 W. Edwards Deming
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars


      +slide
        img.avatar(src='images/profile.jpg')
        br
        a(href='http://www.slideshare.net/asotobu/jenkins-20', style='border:none')
          i.fa.fa-slideshare
          h3 http://www.slideshare.net/asotobu/jenkins-20
          i.fa.fa-envelope
          h3 asotobu@gmail.com
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

    script(src='build/build.js')
